body{
    font-size: 1.4rem;
  }
  .bg-palegrey{
    background-color: #e2e2e2;
  }
  .light-boxshadow{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.17);
  }
  .display-block {
      display: block;
  }
.page-header .panel.wrapper, .header.content, .navigation, .nav-sections{
    background-color: #3574b3;
    color: white;
  }
  .page-header .panel.wrapper a{
    font-weight: bold;
    color: white;
  }
  .page-header .header.content {
    border-bottom: white solid 1px;
    position: relative;
    margin-right: unset;
    margin-left: unset;
    max-width: unset;
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .nav-sections .navigation .level0 > .level-top, .minicart-wrapper .action.showcart:before {
    color: white;
  }
  
  .navigation .level0.parent > .level-top > .ui-menu-icon.ui-icon {
    display: none;
  }
  .call-us {
    position: absolute;
    left: 30%;
  }
  
form.slack-form {
    margin-top: 30px;
    padding: 5rem 2rem;
    border-radius: 10px;
}

.carousel-container.mp-banner-slider {
    margin-top: 5px;
}
  
  